livekit-agents==1.5.12
livekit-plugins-openai==1.5.12
livekit-plugins-silero==1.5.12
livekit-plugins-google==1.5.12
livekit-plugins-noise-cancellation==0.2.5
mem0ai
duckduckgo-search
langchain_community
ddgs
requests
msal
python-dotenv
pycaw
comtypes
screen_brightness_control
playwright
yt-dlp
pygetwindow
pyautogui
requests
Pillow
google-genai
